.filterpannel {
    position: fixed;
    width: 300px;
    height: 700px;
    margin-top: 30px;
    background-color: rgb(178, 233, 225);
    text-align: center;
}

 input[type="checkbox"] {
    margin: 0 15px;
}